@page "/"
@using FPVDevelopment.Components.Data.Classes
@using FPVDevelopment.Components.Data.Models
@inject UserService userService
@inject CurrentUser currentUser
@inject PreloadService preloadService
@rendermode InteractiveServer

<PageTitle>Account</PageTitle>

<h1>FPV Development Tracker!</h1>

<br />
-------------------------------------- IN DEVELOPMENT --------------------------------------
<br />
<br />
User login will go here, for now it just logs into a hard-coded user
<br />
<br />
<button id="LoginButton" type="button" @onclick="HandleLoginUser" class="btn-outline-primary">Login</button>
<br />
<label>The current user is: @currentUser?.User?.DisplayName</label>
<br />
-------------------------------------- IN DEVELOPMENT --------------------------------------

@code {
    private async Task HandleLoginUser()
    {
        currentUser.SetCurrentUser(await userService.Login("user", "pass"));
        await preloadService.PreloadDataAsync(currentUser.User);
    }
}