@page "/"
@using FPVDevelopment.Components.Data.Classes
@inject UserService userService
@inject CurrentUser currentUser
@inject ToastService toastService
@rendermode InteractiveServer


<MudGrid Spacing="7">
    
    <PageTitle>Account</PageTitle>

    <h1>FPV Development Tracker!</h1>

    <br/>
    -------------------------------------- IN DEVELOPMENT --------------------------------------
    <br/>
    <br/>
    User login will go here, for now it just logs into a hard-coded user
    <br/>
    <br/>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="HandleLoginUser">Login</MudButton>
    <br/>
    <label>The current user is: @currentUser?.User?.DisplayName</label>
    <br/>
    -------------------------------------- IN DEVELOPMENT --------------------------------------
</MudGrid>
@code {
    private async Task HandleLoginUser()
    {
        currentUser.SetCurrentUser(await userService.Login("user", "pass"));
        if (currentUser is not null)
        {
            toastService.ShowSuccess("Login Successful!", 5);
        }
        else
        {
            toastService.ShowError("Login Failed!", 5);
        }
    }
}